@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --clr-primary: #3d3d3d;
}

body {
  /* width: 100%;
  width: 100%; */
  position: relative;
  font-family: "Roboto", sans-serif;
  background: #000000;
}
/* utility classes */
.btn {
  text-decoration: none;
  padding: 10px 10px;
  background: #000000;
  color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  transition: all 500ms;
}
.main-title {
  text-align: center;
  margin: 20px;
  color: #e26d1a;
  font-size: 60px;
}
.sub-heading {
  color: #fff;
  text-align: center;
  margin: 20px;
}

/* header section */
input[type="checkbox"] {
  display: none;
}

.desktop ul {
  display: flex;
  background: var(--clr-primary);
  padding: 20px;
}
.desktop ul li {
  list-style: none;
}
.desktop ul li.list-item2 {
  margin-left: auto;
}
.desktop ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.desktop ul li a:hover {
  text-decoration: underline;
}
/* hero section */
.hero {
  height: 100vh;
  background: url("../mountain.jpg") no-repeat center center/cover;
  position: relative;
  width: 100%;
  background-position: 80%;
}
.hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
/* .btn:hover {
  color: #e26d1a;
} */

#main-section {
  background: #000000;
  width: 100%;
  padding: 5px 10px;
  color: #fff;
}

#main-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #333333;
  font-size: 10px;
  color: #fff;
}
#main-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 40px;
  justify-content: space-around;
  margin-bottom: 40px;
  padding: 10px 10px;
}
.big {
  grid-column: 2 / span 2;
}

article {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 10px;
  background: var(--clr-primary);
  overflow: hidden;
  /* box-shadow: 1px 1px 1px 1px rgba(173, 175, 172, 0.3); */
}

article p {
  text-align: center;
  padding: 15px 25px;
}
article::before {
  cursor: pointer;
  position: absolute;
  content: "Read More";
  font-size: 25px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(40, 55, 71, 0.7);
  transition: all 400ms;
  transform: translateX(100%);
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
@media (hover: hover) and (pointer: fine) {
  article:hover::before {
    transform: translateX(0);
  }
  .btn:hover {
    color: #e26d1a;
  }
}

.big img {
  object-fit: cover;
}
#main-details article img {
  object-position: contain;
  object-position: center;
}

/* contact page */
#contact {
  min-height: calc(100vh - 59.2px - 42px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .contact-container {
  width: 650px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-auto-rows: 500px;
  justify-content: center;
  align-content: center;
}
.contact-detail {
  z-index: 2;
  position: relative;
  background: url("../img/office.jpg") center center no-repeat/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}
.contact-detail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.contact-form {
  background: rgb(255, 249, 249);
}
i {
  margin-right: 10px;
  color: #e26d1a;
}
.info-container div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.info-container p {
  margin-top: 10px;
}
.contact-detail > *:nth-child(2) > *:nth-child(2) {
  color: #02a55a;
}
.contact-detail > *:nth-child(3) > *:nth-child(2) {
  color: #02a55a;
}

/* contact form */
.contact-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.7;
}

.contact-form label,
.contact-form input {
  display: block;
}
.contact-form input,
textarea {
  padding: 5px 10px;
  width: 250px;
}
input[type="submit"] {
  background: #e26d1a;
  border: none;
  padding: 10px 3px;
  color: #000000;
  transition: all 1s;
}
input[type="submit"]:hover {
  background: #02a55a;
}

/* about */
#about {
  width: 100%;
  padding: 100px 20px;
  min-height: calc(100vh - 59.2px - 42px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about main {
  color: #fff;
  padding: 10px 40px;
}
#about main h2,
#about main h3 {
  color: #e26d1a;
  margin-bottom: 10px;
}
#about main p {
  font-size: 20px;
  margin-bottom: 10px;
}
#about .pic-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .pic-card img {
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}

@media only screen and (min-width: 531px) and (max-width: 1187px) {
  #main-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: auto;
    /* grid-auto-flow: dense; */
    grid-gap: 40px;
    justify-content: space-around;
    margin-bottom: 40px;
    padding: 10px 10px;
  }
  .big {
    grid-column: 1 / 1;
  }
  img {
    height: 250px;
    width: 300px;
  }
  .hero-content p {
    padding: 0px 30px;
  }
  .hero-content h1.main-title {
    color: #e26d1a;
  }
  .btn {
    outline: none;
    border: none;
  }
  #about .pic-card img {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
  }
}

/* for contact page */
@media only screen and (max-width: 826px) {
  #contact {
    height: auto;
  }
  #contact .contact-container {
    width: 400px;
    height: auto;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 300px 450px;
    margin: 20px;
    z-index: -10;
  }
  .contact-form {
    line-height: 2;
  }
  .contact-form label,
  .contact-form input {
    display: block;
  }
  .contact-form input,
  textarea {
    padding: 5px 10px;
    width: 250px;
  }
  input[type="submit"] {
    background: #e26d1a;
    border: none;
    padding: 10px 3px;
    color: #000000;
    transition: all 1s;
  }
  input[type="submit"]:hover {
    background: #02a55a;
  }
}
