#main-details details img {
  display: block;
  margin: auto;
  padding: 10px;
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.hero-content p {
  font-size: 15px;
  margin: 0px 15px;
}

#main-section {
  padding: 100px 50px;
}
body {
  position: relative;
}
input[type="checkbox"] {
  z-index: 1;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 8px;
  top: 7.5px;
  width: 20px;
  height: 20px;
  opacity: 0;
}
.desktop ul {
  width: 100%;
  height: 250px;
  position: absolute;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3;
  transform: translateY(-100%);
  /* z-index: 1; */
  transition: all 500ms;
  color: #3d3d3d;
}
.desktop ul li.list-item2 {
  margin-left: 0;
}

.mobile .mobile-lines {
  height: 30px;
  background: #3d3d3d;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  z-index: 1;
}
.mobile .mobile-lines .line {
  position: relative;
  cursor: pointer;
  height: 1px;
  width: 20px;
  background: #fff;
  transition: all 500ms;
}
.mobile .mobile-lines .line::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 100%;
  top: -6px;
  background: #fff;
  transition: all 500ms;
}
.mobile .mobile-lines .line::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 100%;
  top: 6px;
  background: #fff;
  transition: all 500ms;
}

input[type="checkbox"]:checked ~ .desktop ul {
  z-index: 1;
  transform: translateY(0);
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms;
}
input[type="checkbox"]:not(:checked) ~ .desktop ul {
  z-index: 0;
  transform: translateY(-100%);
}
input[type="checkbox"]:checked ~ .mobile .mobile-lines > div {
  z-index: 1;

  transform: rotateY(180deg);
}
input[type="checkbox"]:checked ~ .mobile .mobile-lines > div::before {
  z-index: 1;
  transform: rotateY(180deg);
}
input[type="checkbox"]:checked ~ .mobile .mobile-lines > div::after {
  z-index: 1;
  transform: rotateY(180deg);
}

input[type="checkbox"]:checked {
  z-index: 2;
}
#main-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: auto;
  /* grid-auto-flow: dense; */
  grid-gap: 40px;
  justify-content: center;
  margin-bottom: 40px;
}
.big {
  grid-column: 1 / 1;
}
.big img,
img {
  height: 500px;
  width: 430px;
}
.btn {
  outline: none;
  border: none;
}
@media only screen and (max-width: 437px) {
  #main-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    /* grid-auto-flow: dense; */
    grid-gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
    padding: 10px 10px;
  }
  .big {
    grid-column: 1 / 1;
  }
  .big img,
  img {
    height: 250px;
    width: 300px;
  }
  .hero {
    background-position: center;
  }
  .hero-content h1.main-title {
    color: #e26d1a;
    font-weight: 900;
  }
  /* .btn:active {
    outline: none;
    border: none;
    outline-style: none;
  } */
}
