.main-title {
  text-align: center;
  margin: 20px;
  color: #ffffff;
  font-size: 40px;
}
.sub-heading {
  color: #fff;
  text-align: center;
  margin: 15px opx;
  font-size: 20px;
}
.hero-content p {
  font-size: 20px;
}
